adf-lab-data-engineersql/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nombre de instancia de Data Factory",
			"defaultValue": "adf-lab-data-engineersql"
		},
		"DataLake_properties_typeProperties_serviceEndpoint": {
			"type": "string",
			"defaultValue": "https://stglabdataengineer.blob.core.windows.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Copiar datalake a otro datalake')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "copiar a datalake",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "datoslabs/MLAR/TratamientosRealizados.xlsx"
							},
							{
								"name": "Destination",
								"value": "prueba//"
							}
						],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "dataentrada",
								"type": "DatasetReference",
								"parameters": {
									"entrada": "TratamientosRealizados.xlsx"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "datasalida",
								"type": "DatasetReference",
								"parameters": {
									"salida": "datasalida"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dataentrada')]",
				"[concat(variables('factoryId'), '/datasets/datasalida')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DATAFLOW_MLAR')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DATAFLOW_MLAR",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow_MLAR",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"MEDICOS": {},
									"PACIENTES": {},
									"TRATAMIENTOSREALIZADOS": {},
									"SALIDA": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-09-09T20:07:23Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/dataflow_MLAR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataflowCarlosG')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DataflowCG",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DataflowCG",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Medicos": {},
									"Pacientes": {},
									"TratamientosRealizados": {},
									"ReceptorCG": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-09-14T19:46:57Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/DataflowCG')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MLAR')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "MEDICOS",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "MLAR_MEDICOS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "MLAR_RECEPTOR",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "PACIENTES",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "MEDICOS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "MLAR_PACIENTES",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "MLAR_RECEPTOR",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-09-09T15:34:26Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/MLAR_MEDICOS')]",
				"[concat(variables('factoryId'), '/datasets/MLAR_RECEPTOR')]",
				"[concat(variables('factoryId'), '/datasets/MLAR_PACIENTES')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PipelineCG')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Pacientes",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Medicos",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "CAG_PACIENTES",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "MedicosJSON",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy Medicos",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "CAG_MEDICO",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "MedicosJSON",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/CAG_PACIENTES')]",
				"[concat(variables('factoryId'), '/datasets/MedicosJSON')]",
				"[concat(variables('factoryId'), '/datasets/CAG_MEDICO')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CAG_MEDICO')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataLake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Medicos",
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Medicos.xlsx",
						"folderPath": "CAG",
						"container": "datoslabs"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "nombres",
						"type": "String"
					},
					{
						"name": "apellidos",
						"type": "String"
					},
					{
						"name": "identificacion",
						"type": "String"
					},
					{
						"name": "tipo identificacion",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CAG_PACIENTES')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataLake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Pacientes",
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Pacientes.xlsx",
						"folderPath": "CAG",
						"container": "datoslabs"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "nombres",
						"type": "String"
					},
					{
						"name": "apellidos",
						"type": "String"
					},
					{
						"name": "sexo",
						"type": "String"
					},
					{
						"name": "fecha nacimiento",
						"type": "String"
					},
					{
						"name": "identificacion",
						"type": "String"
					},
					{
						"name": "tipo identificacion",
						"type": "String"
					},
					{
						"name": "direccion",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CAG_RECEPTOR')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataLake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "resultadosdatoslabs"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CAG_TRATAMIENTOS_REALIZADOS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataLake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "TratamientosRealizados",
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "TratamientosRealizados.xlsx",
						"folderPath": "CAG",
						"container": "datoslabs"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "idpaciente",
						"type": "String"
					},
					{
						"name": "idmedico",
						"type": "String"
					},
					{
						"name": "idtratamiento",
						"type": "String"
					},
					{
						"name": "valor",
						"type": "String"
					},
					{
						"name": "fecha",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MLAR_MEDICOS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataLake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Medicos",
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Medicos.xlsx",
						"folderPath": "MLAR",
						"container": "datoslabs"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "nombres",
						"type": "String"
					},
					{
						"name": "apellidos",
						"type": "String"
					},
					{
						"name": "identificacion",
						"type": "String"
					},
					{
						"name": "tipo identificacion",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MLAR_PACIENTES')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataLake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Pacientes",
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Pacientes.xlsx",
						"folderPath": "MLAR",
						"container": "datoslabs"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "nombres",
						"type": "String"
					},
					{
						"name": "apellidos",
						"type": "String"
					},
					{
						"name": "sexo",
						"type": "String"
					},
					{
						"name": "fecha nacimiento",
						"type": "String"
					},
					{
						"name": "identificacion",
						"type": "String"
					},
					{
						"name": "tipo identificacion",
						"type": "String"
					},
					{
						"name": "direccion",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MLAR_RECEPTOR')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataLake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "resultadosdatoslabs"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MLAR_TRAT_REALIZADO')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataLake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "TratamientosRealizados",
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "TratamientosRealizados.xlsx",
						"folderPath": "MLAR",
						"container": "datoslabs"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "idpaciente",
						"type": "String"
					},
					{
						"name": "idmedico",
						"type": "String"
					},
					{
						"name": "idtratamiento",
						"type": "String"
					},
					{
						"name": "valor",
						"type": "String"
					},
					{
						"name": "fecha",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MedicosJSON')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataLake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "resultadosdatoslabs"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ReceptorCombinado')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataLake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "resultadosdatoslabs"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataentrada')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataLake",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"entrada": {
						"type": "string",
						"defaultValue": "TratamientosRealizados.xlsx"
					}
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "TratamientosRealizados",
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().entrada",
							"type": "Expression"
						},
						"container": "dataentrada"
					}
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/datasalida')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataLake",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"salida": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().salida",
							"type": "Expression"
						},
						"container": "datasalida"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataLake')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"serviceEndpoint": "[parameters('DataLake_properties_typeProperties_serviceEndpoint')]",
					"accountKind": "StorageV2"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataflowCG')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "CAG_MEDICO",
								"type": "DatasetReference"
							},
							"name": "Medicos"
						},
						{
							"dataset": {
								"referenceName": "CAG_PACIENTES",
								"type": "DatasetReference"
							},
							"name": "Pacientes"
						},
						{
							"dataset": {
								"referenceName": "CAG_TRATAMIENTOS_REALIZADOS",
								"type": "DatasetReference"
							},
							"name": "TratamientosRealizados"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ReceptorCombinado",
								"type": "DatasetReference"
							},
							"name": "ReceptorCG"
						}
					],
					"transformations": [
						{
							"name": "joinPacientes"
						},
						{
							"name": "selectJoinPacientes"
						},
						{
							"name": "joinMedicos"
						},
						{
							"name": "selectJoinMedicos"
						}
					],
					"scriptLines": [
						"source(output(",
						"          id as string,",
						"          nombres as string,",
						"          apellidos as string,",
						"          identificacion as string,",
						"          {tipo identificacion} as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> Medicos",
						"source(output(",
						"          id as string,",
						"          nombres as string,",
						"          apellidos as string,",
						"          sexo as string,",
						"          {fecha nacimiento} as string,",
						"          identificacion as string,",
						"          {tipo identificacion} as string,",
						"          direccion as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> Pacientes",
						"source(output(",
						"          id as string,",
						"          idpaciente as string,",
						"          idmedico as string,",
						"          idtratamiento as string,",
						"          valor as string,",
						"          fecha as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> TratamientosRealizados",
						"TratamientosRealizados, Pacientes join(idpaciente == Pacientes@id,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> joinPacientes",
						"joinPacientes select(mapColumn(",
						"          idpaciente,",
						"          idmedico,",
						"          idtratamiento,",
						"          valor,",
						"          fecha,",
						"          nombres,",
						"          apellidos,",
						"          sexo,",
						"          identificacion",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectJoinPacientes",
						"selectJoinPacientes, Medicos join(idmedico == id,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> joinMedicos",
						"joinMedicos select(mapColumn(",
						"          valor,",
						"          fecha,",
						"          nombres_paciente = selectJoinPacientes@nombres,",
						"          apellidos_paciente = selectJoinPacientes@apellidos,",
						"          sexo,",
						"          identificacion_paciente = selectJoinPacientes@identificacion,",
						"          nombres_medico = Medicos@nombres,",
						"          apellidos_medico = Medicos@apellidos,",
						"          identificacion_medico = Medicos@identificacion,",
						"          {tipo identificacion}",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectJoinMedicos",
						"selectJoinMedicos sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          Column_1 as string,",
						"          Column_2 as string,",
						"          Column_3 as string,",
						"          Column_4 as string,",
						"          Column_5 as string,",
						"          Column_6 as string,",
						"          Column_7 as string,",
						"          Column_8 as string,",
						"          Column_9 as string,",
						"          Column_10 as string,",
						"          Column_11 as string,",
						"          Column_12 as string,",
						"          Column_13 as string,",
						"          Column_14 as string,",
						"          Column_15 as string,",
						"          Column_16 as string",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> ReceptorCG"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/CAG_MEDICO')]",
				"[concat(variables('factoryId'), '/datasets/CAG_PACIENTES')]",
				"[concat(variables('factoryId'), '/datasets/CAG_TRATAMIENTOS_REALIZADOS')]",
				"[concat(variables('factoryId'), '/datasets/ReceptorCombinado')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow_MLAR')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "MLAR_MEDICOS",
								"type": "DatasetReference"
							},
							"name": "MEDICOS"
						},
						{
							"dataset": {
								"referenceName": "MLAR_PACIENTES",
								"type": "DatasetReference"
							},
							"name": "PACIENTES"
						},
						{
							"dataset": {
								"referenceName": "MLAR_TRAT_REALIZADO",
								"type": "DatasetReference"
							},
							"name": "TRATAMIENTOSREALIZADOS"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "MLAR_RECEPTOR",
								"type": "DatasetReference"
							},
							"name": "SALIDA",
							"rejectedDataLinkedService": {
								"referenceName": "DataLake",
								"type": "LinkedServiceReference"
							}
						}
					],
					"transformations": [
						{
							"name": "TRAPACIENTES"
						},
						{
							"name": "TRAMEDICOS"
						},
						{
							"name": "select1"
						},
						{
							"name": "select2"
						}
					],
					"scriptLines": [
						"source(output(",
						"          id as string,",
						"          nombres as string,",
						"          apellidos as string,",
						"          identificacion as string,",
						"          {tipo identificacion} as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> MEDICOS",
						"source(output(",
						"          id as string,",
						"          nombres as string,",
						"          apellidos as string,",
						"          sexo as string,",
						"          {fecha nacimiento} as string,",
						"          identificacion as string,",
						"          {tipo identificacion} as string,",
						"          direccion as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> PACIENTES",
						"source(output(",
						"          id as string,",
						"          idpaciente as string,",
						"          idmedico as string,",
						"          idtratamiento as string,",
						"          valor as string,",
						"          fecha as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> TRATAMIENTOSREALIZADOS",
						"TRATAMIENTOSREALIZADOS, PACIENTES join(idpaciente == PACIENTES@id,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> TRAPACIENTES",
						"select1, MEDICOS join(idmedico == id,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> TRAMEDICOS",
						"TRAPACIENTES select(mapColumn(",
						"          idmedico,",
						"          idtratamiento,",
						"          valor,",
						"          fecha,",
						"          nombres,",
						"          apellidos,",
						"          sexo,",
						"          {fecha nacimiento},",
						"          identificacion,",
						"          {tipo identificacion},",
						"          direccion",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"TRAMEDICOS select(mapColumn(",
						"          idtratamiento,",
						"          valor,",
						"          fecha,",
						"          nombres_paciente = select1@nombres,",
						"          apellidos_paciente = select1@apellidos,",
						"          sexo_paciente = sexo,",
						"          {fecha nacimiento},",
						"          identificacion_paciente = select1@identificacion,",
						"          {tipo identificacion_paciente} = select1@{tipo identificacion},",
						"          direccion,",
						"          nombres_medico = MEDICOS@nombres,",
						"          apellidos_medico = MEDICOS@apellidos,",
						"          identificacion_medico = MEDICOS@identificacion,",
						"          {tipo identificacion_medico} = MEDICOS@{tipo identificacion}",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select2",
						"select2 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     saveOrder: 1) ~> SALIDA"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/MLAR_MEDICOS')]",
				"[concat(variables('factoryId'), '/datasets/MLAR_PACIENTES')]",
				"[concat(variables('factoryId'), '/datasets/MLAR_TRAT_REALIZADO')]",
				"[concat(variables('factoryId'), '/datasets/MLAR_RECEPTOR')]",
				"[concat(variables('factoryId'), '/linkedServices/DataLake')]"
			]
		}
	]
}