adf-lab-data-engineersql/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nombre de instancia de Data Factory",
			"defaultValue": "adf-lab-data-engineersql"
		},
		"DataLake_properties_typeProperties_serviceEndpoint": {
			"type": "string",
			"defaultValue": "https://stglabdataengineer.blob.core.windows.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/DataLake')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"serviceEndpoint": "[parameters('DataLake_properties_typeProperties_serviceEndpoint')]",
					"accountKind": "StorageV2"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CAG_MEDICO')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataLake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Medicos",
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Medicos.xlsx",
						"folderPath": "CAG",
						"container": "datoslabs"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "nombres",
						"type": "String"
					},
					{
						"name": "apellidos",
						"type": "String"
					},
					{
						"name": "identificacion",
						"type": "String"
					},
					{
						"name": "tipo identificacion",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CAG_PACIENTES')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataLake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Pacientes",
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Pacientes.xlsx",
						"folderPath": "CAG",
						"container": "datoslabs"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "nombres",
						"type": "String"
					},
					{
						"name": "apellidos",
						"type": "String"
					},
					{
						"name": "sexo",
						"type": "String"
					},
					{
						"name": "fecha nacimiento",
						"type": "String"
					},
					{
						"name": "identificacion",
						"type": "String"
					},
					{
						"name": "tipo identificacion",
						"type": "String"
					},
					{
						"name": "direccion",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CAG_RECEPTOR')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataLake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "resultadosdatoslabs"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CAG_TRATAMIENTOS_REALIZADOS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataLake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "TratamientosRealizados",
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "TratamientosRealizados.xlsx",
						"folderPath": "CAG",
						"container": "datoslabs"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "idpaciente",
						"type": "String"
					},
					{
						"name": "idmedico",
						"type": "String"
					},
					{
						"name": "idtratamiento",
						"type": "String"
					},
					{
						"name": "valor",
						"type": "String"
					},
					{
						"name": "fecha",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_kee')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataLake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "pueba1",
						"container": "prueba"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Excel1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataLake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "TratamientosRealizados",
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "TratamientosRealizados.xlsx",
						"folderPath": "MLAR",
						"container": "datoslabs"
					}
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Excel11')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataLake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "TratamientosRealizados",
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "TratamientosRealizados.xlsx",
						"folderPath": "MLAR",
						"container": "datoslabs"
					}
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Json1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataLake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "prueba"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MLAR_MEDICOS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataLake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Medicos",
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Medicos.xlsx",
						"folderPath": "MLAR",
						"container": "datoslabs"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "nombres",
						"type": "String"
					},
					{
						"name": "apellidos",
						"type": "String"
					},
					{
						"name": "identificacion",
						"type": "String"
					},
					{
						"name": "tipo identificacion",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MLAR_PACIENTES')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataLake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Pacientes",
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Pacientes.xlsx",
						"folderPath": "MLAR",
						"container": "datoslabs"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "nombres",
						"type": "String"
					},
					{
						"name": "apellidos",
						"type": "String"
					},
					{
						"name": "sexo",
						"type": "String"
					},
					{
						"name": "fecha nacimiento",
						"type": "String"
					},
					{
						"name": "identificacion",
						"type": "String"
					},
					{
						"name": "tipo identificacion",
						"type": "String"
					},
					{
						"name": "direccion",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MLAR_RECEPTOR')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataLake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "resultadosdatoslabs"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MLAR_RECEPTOR2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataLake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "resultadosdatoslabs"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MLAR_TRAT_REALIZADO')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataLake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "TratamientosRealizados",
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "TratamientosRealizados.xlsx",
						"folderPath": "MLAR",
						"container": "datoslabs"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "idpaciente",
						"type": "String"
					},
					{
						"name": "idmedico",
						"type": "String"
					},
					{
						"name": "idtratamiento",
						"type": "String"
					},
					{
						"name": "valor",
						"type": "String"
					},
					{
						"name": "fecha",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataentrada')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataLake",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"entrada": {
						"type": "string",
						"defaultValue": "TratamientosRealizados.xlsx"
					}
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "TratamientosRealizados",
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().entrada",
							"type": "Expression"
						},
						"container": "dataentrada"
					}
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/datasalida')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataLake",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"salida": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().salida",
							"type": "Expression"
						},
						"container": "datasalida"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/prueba')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataLake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "prueba"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Copiar datalake a otro datalake')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "copiar a datalake",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "datoslabs/MLAR/TratamientosRealizados.xlsx"
							},
							{
								"name": "Destination",
								"value": "prueba//"
							}
						],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "dataentrada",
								"type": "DatasetReference",
								"parameters": {
									"entrada": "TratamientosRealizados.xlsx"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "datasalida",
								"type": "DatasetReference",
								"parameters": {
									"salida": "datasalida"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dataentrada')]",
				"[concat(variables('factoryId'), '/datasets/datasalida')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MLAR')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "MEDICOS",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "MLAR_MEDICOS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "MLAR_RECEPTOR",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "PACIENTES",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "MEDICOS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "MLAR_PACIENTES",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "MLAR_RECEPTOR",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-09-09T15:34:26Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/MLAR_MEDICOS')]",
				"[concat(variables('factoryId'), '/datasets/MLAR_RECEPTOR')]",
				"[concat(variables('factoryId'), '/datasets/MLAR_PACIENTES')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflowCAG')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "CAG_PACIENTES",
								"type": "DatasetReference"
							},
							"name": "CAGPACIENTES"
						},
						{
							"dataset": {
								"referenceName": "CAG_MEDICO",
								"type": "DatasetReference"
							},
							"name": "CAGMEDICOS"
						},
						{
							"dataset": {
								"referenceName": "CAG_TRATAMIENTOS_REALIZADOS",
								"type": "DatasetReference"
							},
							"name": "CAGTRATAMIENTOSREALIZADOS"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "CAG_RECEPTOR",
								"type": "DatasetReference"
							},
							"name": "SalidaCAG"
						}
					],
					"transformations": [
						{
							"name": "TRAPACIENTES"
						},
						{
							"name": "select1"
						},
						{
							"name": "TRAMEDICOS"
						},
						{
							"name": "select2"
						}
					],
					"scriptLines": [
						"source(output(",
						"          id as string,",
						"          nombres as string,",
						"          apellidos as string,",
						"          sexo as string,",
						"          {fecha nacimiento} as string,",
						"          identificacion as string,",
						"          {tipo identificacion} as string,",
						"          direccion as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> CAGPACIENTES",
						"source(output(",
						"          id as string,",
						"          nombres as string,",
						"          apellidos as string,",
						"          identificacion as string,",
						"          {tipo identificacion} as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> CAGMEDICOS",
						"source(output(",
						"          id as string,",
						"          idpaciente as string,",
						"          idmedico as string,",
						"          idtratamiento as string,",
						"          valor as string,",
						"          fecha as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> CAGTRATAMIENTOSREALIZADOS",
						"CAGTRATAMIENTOSREALIZADOS, CAGPACIENTES join(idpaciente == CAGPACIENTES@id,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> TRAPACIENTES",
						"TRAPACIENTES select(mapColumn(",
						"          idmedico,",
						"          idtratamiento,",
						"          valor,",
						"          fecha,",
						"          nombres,",
						"          apellidos,",
						"          sexo,",
						"          {fecha nacimiento},",
						"          identificacion,",
						"          {tipo identificacion},",
						"          direccion",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1, CAGMEDICOS join(idmedico == id,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> TRAMEDICOS",
						"TRAMEDICOS select(mapColumn(",
						"          idmedico,",
						"          idtratamiento,",
						"          valor,",
						"          fecha,",
						"          nombresPaciente = select1@nombres,",
						"          apellidosPaciente = select1@apellidos,",
						"          sexoPaciente = sexo,",
						"          {fecha nacimiento},",
						"          identificacionPaciente = select1@identificacion,",
						"          {tipo identificacionPaciente} = select1@{tipo identificacion},",
						"          direccion,",
						"          id,",
						"          nombresMedico = CAGMEDICOS@nombres,",
						"          apellidosMedico = CAGMEDICOS@apellidos,",
						"          identificacionMedico = CAGMEDICOS@identificacion,",
						"          {tipo identificacionMedico} = CAGMEDICOS@{tipo identificacion}",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select2",
						"select2 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SalidaCAG"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/CAG_PACIENTES')]",
				"[concat(variables('factoryId'), '/datasets/CAG_MEDICO')]",
				"[concat(variables('factoryId'), '/datasets/CAG_TRATAMIENTOS_REALIZADOS')]",
				"[concat(variables('factoryId'), '/datasets/CAG_RECEPTOR')]"
			]
		}
	]
}